/* Custom horizontal scrollbar for the job domain section menu */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #70b5fa;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #eaf6fd;
  border-radius: 8px;
}
.custom-scrollbar {
  scrollbar-color: #70b5fa #eaf6fd;
  scrollbar-width: thin;
}